:host {
    min-width:130px;
    max-width:220px;
}
.title1{
    background-color: rgb(245, 150, 75)!important;
}
.body1{
    background-color: rgb(245, 220, 170)!important;
}
.my-card{
    display: block;
}
.title2{
    background-color: rgb(15, 15, 180);
}
.body2{
    background-color: rgb(185, 214, 241);
}
.title3{
    background-color: rgb(2, 73, 2);
}
.body3{
    background-color: rgb(187, 243, 187);
}
.title4{
    background-color: rgb(248, 8, 8);
}
.body4{
    background-color: rgb(243, 220, 220);
}
